<div class="container">
    <h2 class="bold">{{ gameDirective.title }}</h2>
    <p class="italic">Dernière modification: {{ gameDirective.lastModification }}</p>
    <div class="icons relative ">
        <i class="material-icons visibility pointer" (click)="toggleVisibility()" *ngIf="isVisible; else notVisible">visibility</i>
        <ng-template #notVisible><i class="material-icons visibility pointer" (click)="toggleVisibility()">visibility_off</i> </ng-template>
        <i class="material-icons modify pointer" (click)="navigateModify()">edit</i>
        <i class="material-icons export pointer" (click)="export()">file_download</i>
        <i class="material-icons delete pointer" (click)="deleteGameWithConfirmation()">delete</i>
    </div>
</div>
