<app-logo></app-logo>
<div *ngIf="game$ | async as game">
    <div class="nav-container flex-end">
        <button class="nav-button background-beige" mat-raised-button routerLink="/create">Page précédente</button>
        <button class="nav-button background-beige" mat-raised-button (click)="onCreateMatch(game.id)">Créer une partie</button>
        <button class="nav-button background-beige" mat-raised-button (click)="onTestGame(game.id)">Tester le jeu</button>
    </div>
    <div id="game-infos" class="flex-center content-center">
        <p id="game-name" class="color-red bold">{{ game.title }}</p>
        <p id="game-description" class="flex italic content-center">{{ game.description }}</p>
        <p id="qcmTime" class="color-red">Temps des QCM : {{ game.duration }} s</p>
    </div>
    <div *ngFor="let question of game.questions; let i = index">
        <p class="game-questions">Question {{ i + 1 }}</p>
        <div class="question-container flex">
            <mat-icon *ngIf="question.type === 'QCM'" class="color-QCM">format_list_bulleted</mat-icon>
            <mat-icon *ngIf="question.type === 'QRL'" class="color-blue">edit_note</mat-icon>
            <mat-card>
                <mat-card-content>{{ question.text }}</mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
