.input {
    width: 22%;
}

.informations {
    justify-content: center;
}

.time {
    width: 22%;
}

.time-element {
    width: 6rem;
    height: 1.4rem;
    margin-top: 20px;
}

p {
    font-size: 1.5rem;
    padding-top: 1em;
    padding-bottom: 0.5em;
    .description {
        padding-top: 2rem;
    }
}

.action-button {
    display: block;
    font-size: 1.5rem;
    height: 3rem;
    transition: transform 0.2s;
}

#add-question-button {
    margin-left: auto;
}
