h1 {
    font-size: 3rem;
    margin-bottom: 3%;
}

.end {
    right: 0;
    top: 5rem;
    margin-right: 0.6rem;
    font-size: 1.8rem;
}
.players-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin: 1.5rem;
}

.players-title {
    color: #ff6868;
    font-size: 2rem;
    margin: 1.5rem;
}
