<app-logo></app-logo>
<div class="container justified">
    <h1 class="header-item color-blue">{{ title }}</h1>
    <section class="justified">
        <div class="justified">
            <button mat-raised-button class="button background-beige" routerLink="/play">Joindre une partie</button>
            <button mat-raised-button class="button clr-turquoise" routerLink="/create">Créer une partie</button>
            <button mat-raised-button class="button background-pink" routerLink="/administration">Administrer les jeux</button>
        </div>
    </section>

    <footer class="footer-item color-blue">
        <h4 class="team-name color-red">Équipe 205</h4>
        <p>
            <span>Damaris Calestrov</span>, <span>Nour-El Houda El Hasni</span>, <span>Aymen Ghodbane</span>,
            <br />
            <span>Loïc Nguemegne Temena</span>, <span>Roman Alejandro Roman Canizalez</span>, <span>Salma Sahnoune</span>
        </p>
    </footer>
</div>
