<button mat-raised-button routerLink="/home" class="background-turquoise absolute" id="top-button" (click)="joinMatchService.clearInput()">Accueil</button>
<div class="form-group flex-center" id="space-between">
    <h1 class="color-blue">{{ title }}</h1>
    <p class="label">{{ text }}</p>
    <mat-form-field id="input-form">
        <mat-label>{{ label }} </mat-label>
        <input maxlength="{{ joinMatchService.maxLength }}" type="{{ inputType }}" matInput [(ngModel)]="joinMatchService.input" required />
        <mat-hint align="end">{{ joinMatchService.input.length }}/{{ joinMatchService.maxLength }} </mat-hint>
    </mat-form-field>
</div>
