.buttons {
    padding-top: 1em;
}

.action-button {
    font-size: 1.5rem;
    height: 3rem;
    transition: transform 0.2s;
    margin-right: 4rem;
    margin-left: 3rem;
}

h1 {
    margin-top: 4rem;
    margin-bottom: 2rem;
}